
.vs/emg-data-sample-VisualStudio2013/v15/.suo
.vs/emg-data-sample-VisualStudio2013/v15/.suo
*.db
emg-data-sample-VisualStudio2013.vcxproj
emg-data-sample.cpp
.vs/emg-data-sample-VisualStudio2013/v15/Browse.VC.db
